.DS_Store
Thumbs.db

.vscode/

env/
lib/
lib64/
lib/python3.12/site-packages/
bin/

pycache/
*.py[cod]
*$py.class
pip-wheel-metadata/
*.egg-info/

db.sqlite3
media/
staticfiles/

*.log
logs/

.coverage
htmlcov/
.pytest_cache/

build/
dist/

*.swp
*.swo

.env
.env.*
*.key
*.pem